body {
    background: #f3f3f3;
}

.product_title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 15px;
    padding-bottom: 10px;
}

.product_text {
    padding-right: 20px;
}

.product_description {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.image-product {
    max-width: 640px;
    max-height: 640px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.errorlist li {
    color: red;
    font-weight: bold;
}

.custom_div {
    margin-bottom: 20px !important;
}

.icons {
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sc-icon-w {
    font-size: 50px;
    color: #52eb34;
}

.sc-icon-i {
    font-size: 50px;
    color: #cc34eb;
}

footer {
    width: 100%;
    bottom: 0;
}

.card {
    max-width: 1010px;
    margin-left: 45px;
}